*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h2{
    text-align: center;
    
    
}
.container{
    background-color: rgb(6, 202, 236);
}

#div1{
    background-color: rgb(103, 133, 73);
    color: rgb(252, 0, 105);
    border: 3px solid black;
    padding: 5px;
    
}
#div2{
    background-color: rgb(200, 255, 0);
    color: rgb(14, 152, 194);
    border: 3px solid black;
    
    padding: 5px;
}
#div3{
    background-color: rgb(131, 79, 66);
    color: rgb(217, 255, 0);
    border: 3px solid black;
    
    padding: 5px;
}
.container div{
    float: left;
}
div h4{
    position:relative;
    text-align: right;
    border: 5px solid black;
    width: fit-content;
    background-color: rgb(66, 61, 94);

}
@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
      border: 1px solid green;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
      border: 1px solid green;

    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
  }
  






